@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100%;
  font-family: "Karla", sans-serif;
}

.main-title {
  font-family: "Pacifico", cursive;
}

body {
  /* background-color: rgb(15, 23, 42); */
  background-color: #0d1117;
  color: white;
}

.apexcharts-svg {
  border-radius: 8px;
}

.MuiTextField-root {
  min-height: 79px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

.css-1ez2eqb.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: #f44336 !important;
}

.css-190sipk.Mui-error {
  color: #f44336 !important;
}

p {
  word-wrap: break-word;
}
