.my-bookings-container {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.my-bookings-header {
  font-size: 3rem;
  margin: 20px;
}
.my-booking-tickets {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}
.delete-booking-icon button {
  padding: 4px;
  border-radius: 3px;
  background-color: rgb(236, 86, 86);
  color: white;
  transition: all 0.2 linear;
}
.delete-booking-icon button:hover {
  background-color: rgb(238, 116, 116);
}
