.movie-item {
  color: black;
  height: 15%;
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 10px;
  align-items: center;
}
.movie-img {
  width: 50px;
  height: 50px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkcyan;
  overflow: hidden;
}
.movie-attr-container {
  margin-left: auto;
}
.movie-attr {
  padding: 5px 10px;
  text-align: center;
  border-radius: 3px;
  font-size: 0.8rem;
  border: 1px solid #3b82f6;
}
.movie-text-title {
  color: #3b82f6;
  margin: 5px 0px;
}
.movie-text-desc {
  font-size: 0.7rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}
