@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.home-main-page {
  /* max-width: 1600px;
  margin: 0 auto; */
}
.movie-top-rated-header {
  font-size: 2rem;
  margin: 30px;
  text-align: center;
}
.welcome-home-page {
  padding: 40px 0px;
}
.welcome-msg-hdr {
  font-size: 2rem;
  font-weight: 300;
}
.welcome-msg-text {
  font-size: 1rem;
}
.chip-selectors-container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 25%;
}

.chip-selector {
  margin: 5px;
  cursor: pointer;
  font-weight: 300;
  font-size: 0.9rem;
  background-color: rgb(169, 181, 194);
  border-radius: 12px;
  padding: 4px;
  border: 1px solid lightslategray;
}
.chip-selector:hover {
  background-color: lightslategray;
}
.home-movie-cards-ac {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.home-movie-cards-bar-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 60px;
}
.home-movie-cards-bar {
  text-align: center;
  display: flex;
  text-decoration: none;
}
.home-movie-cards-bar-header {
  text-align: left;
  margin-right: auto;
  font-size: 2rem;
}
.home-movie-cards-bar-item {
  color: #fff;
  text-decoration: none;
  margin: 0px 20px;
  padding: 10px 0px;
  cursor: pointer;
  border: 0px solid #fff;
}
.home-movie-cards-bar-item:hover {
  border-bottom: 2px solid #fff;
}
.active-bar-item {
  border-bottom: 2px solid #fff;
}
.movies-home-page {
  margin: 30px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.movie-heading {
  margin: 30px;
  text-align: center;
  font-size: 2rem;
}
.movie-cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.movies-container {
  max-width: 1300px;
}
.movies-leaderboard-container {
  margin: 70px 0px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
  flex-wrap: wrap;
}
.movies-leaderboard-header {
  font-size: 2rem;
}
