@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-4px);
  }
}

.movie-card-inner-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.movie-card-img {
  width: 100%;
  height: 100%;
  background-color: azure;
  background-size: "cover";
  cursor: pointer;
}
.movie-card-title {
  /* height: 10%; */
  font-size: 1rem;
  color: azure;
}
.movie-card-container {
  width: 230px;
  height: 340px;
}
.movie-card-container:hover {
  animation: slide-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.hover-text {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: background-color 350ms ease;
  background-color: transparent;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
}
.in-image-details {
  text-align: left;
  padding: 20px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  color: white;
  position: absolute;
  transition: opacity 600ms ease;
  background-color: rgba(0, 0, 0, 0.705);
  box-sizing: border-box;
}
.in-image-header {
  margin: 20px 0px;
  font-size: 2rem;
}
.in-image-details:hover {
  opacity: 1;
}
.in-image-rating {
  display: block;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* .in-image-details:hover .in-image-rating {
  display: block;
} */
