.feedback-page {
  max-width: 1600px;
  margin: 10% auto;
}

.feedback-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* resize-none text-sm rounded-lg block w-full p-5 bg-gray-700 placeholder-gray-200 text-white focus:outline-blue-400 */
}
.feedback-container h1 {
  font-size: 3rem;
  margin: 20px;
}
.text-area {
  margin: 0 auto;
  width: 60%;
  padding: 10px;
  height: 300px;
  border-radius: 8px;
  background-color: #161924;
}
.text-area:focus {
  outline: #3b82f6;
}
.error-text-area {
  color: red;
  font-size: 0.8rem;
}
.feedback-submit-btn {
  margin: 20px;
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 2px;

  transition: all 0.3s ease;
}
.feedback-submit-btn:hover {
  box-shadow: inset 0 -3.25em 0 0 white;
  color: #0d1117;
}
