header {
  z-index: 1;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: #00000059 0 1px 5px;
}
header h1 {
  margin: 0px 30px;
  color: green;
}
nav > ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
}
nav > ul > li {
  padding: 20px 40px;
}
.nav-login-btn {
  margin: 0px 10px;
}
.nav-list-item {
  cursor: pointer;
}
.nav-list-item:hover {
  border-bottom: 2px solid #3b82f6;
}
.nav-list-item-link {
  height: 100%;
  width: 100%;
  text-align: center;
}
.user-controls {
  margin-left: auto;
}
